/*GENERALES*/

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Helvetica, Arial;
}

#footer{
    clear: both;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 4px solid #01B1EA;
}

.folder:hover {
    cursor: pointer;
}